.navbar {
  &::before,
  .navbar-dropdown::before {
    content: "";
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px) !important;
  }

  &,
  .navbar-dropdown {
    position: relative;
  }
}

