.action-button,
.navbar-item,
.sidebar-item,
.site-name,
.logo,
img,
.next,
.prev,
.contributors,
.edit-link,
.menu-item-label {
  user-select: none;
}

::selection {
  // --c-brand with an opacity of 0x44
  background-color: #009dca44;
}

::selection:window-inactive,
::selection:-moz-window-inactive {
  // --c-brand with an opacity of 0x22
  background-color: #009dca22;
}
