// https://github.com/vuepress/vuepress-next/blob/main/ecosystem/theme-default/src/client/styles/vars.scss
// oklch theme

:root {
  // brand colors
  --c-brand: #009dca;
  --c-brand-light: #27b5e6;

  // custom container colors
  --c-tip: #16afe0;
}
