// https://github.com/vuepress/vuepress-next/blob/main/ecosystem/theme-default/src/client/styles/vars-dark.scss
// oklch theme

html.dark {
  --c-bg: #181a1e;
  --c-bg-light: #22272e;
  --c-bg-lighter: #1d2228;
  --c-bg-light-translucent: #22272eee;

  // brand colors
  --c-brand: #009dca;
  --c-brand-light: #138cb3;

  // custom container colors
  --c-tip: #1583a7;
}
