// https://github.com/vuepress/vuepress-next/blob/main/ecosystem/theme-default/src/client/styles/vars-dark.scss
// oklch theme

html.dark {
  --c-bg: #181A1E;
  --c-bg-light: #22272E;
  --c-bg-lighter: #1D2228;

  // brand colors
  --c-brand: #009dca;
  --c-brand-light: #138cb3;

  // custom container colors
  --c-tip: #1583a7;
}
