// oklch theme
:root {
  --c-brand-light: #138cb3;
  --c-tip: #1583a7;
  --c-brand: #009dca;
  --c-warning: #ffc310;
  --c-warning-bg-lighter: #fff3ba;
  --c-warning-title: #f1b300;
  --c-warning-text-lighter: #c1971c;
  --c-warning-text-accent: #edb100;
  --c-warning-text-quote: #ccab49;
  --c-warning-border-dark: #f7dc91;
  --c-danger: #f11e37;
  --c-danger-bg-lighter: #ffcfde;
  --c-danger-title: #ed1e2c;
  --c-danger-text-lighter: #b5474d;
  --c-danger-text-accent: #bd1a1a;
  --c-danger-text-quote: #c15b5b;
  --c-danger-border-dark: #f1abab;
}

// for dark mode
html.dark {
  --c-brand-light: #138cb3;
  --c-tip: #1583a7;
  --c-brand: #009dca;
  --c-bg-lighter-2: #38404a;
  --c-warning: #e0ad15;
  --c-warning-bg: #2d2f2d;
  --c-warning-bg-lighter: #423E2A;
  --c-warning-title: #fdca31;
  --c-warning-text: #d8d96d;
  --c-warning-text-lighter: #ddb84b;
  --c-warning-text-accent: #ffbf00;
  --c-warning-text-quote: #ccab49;
  --c-warning-border-dark: #957c35;
  --c-danger: #fc1e38;
  --c-danger-bg: #39232c;
  --c-danger-bg-lighter: #4b2b35;
  --c-danger-title: #fc2d3b;
  --c-danger-text: #ea9ca0;
  --c-danger-text-lighter: #d9777c;
  --c-danger-text-accent: #fd3636;
  --c-danger-text-quote: #d56b6b;
  --c-danger-border-dark: #a25151;
}

// adjust table background colors to avoid clashes with inline code snippets
html {
  :is(tr:nth-child(2n), .custom-container.tip) {
    code {
      background-color: var(--c-bg-lighter);
    }
  }

  // for dark mode
  &.dark {
    :is(tr:nth-child(2n), .custom-container.tip) {
      code {
        background-color: var(--c-bg-lighter-2);
      }
    }
  }
}

.token:is(.string, .char, .attr-value, .regex, .variable) {
  color: #6ac0e3;
}

// fix the text color animation for the secondary button on the main page
.home .hero .action-button.secondary {
  transition-property: background-color, color;
}

// apply justify to all articles
.theme-default-content :is(p, li) {
  text-align: justify;
  text-justify: auto;
  hyphens: auto;
}

// make code background color brighter
.theme-default-content code {
  background-color: var(--c-bg-light);
}

// neither hyphenate inline code snippets nor links, we are injeting <wbr> tags there
code,
a {
  hyphens: none;
}


/** 
* Re-implement default margin for first heading of a page.
* The default rule is "h1:first-child", which means it does not work 
* if there is another element like <img> before them.
*   
* For instance the rule is not implemented correctly on
* https://grammy.dev/guide/ due to image banner at the top of page.
*/

// main page
.theme-default-content {
  // first element of page which is not a heading ...
  :not(h1, h2, h3, h4, h5, h6):first-child {
    // ... followed by heading
    + :is(h1, h2, h3, h4, h5, h6) {
      margin-bottom: 1rem; // add bottom margin to this heading (the default value is 1rem)

      // ... followed by paragraph or any text content
      + :is(p, pre, .custom-container) {
        margin-top: 2rem; // add margin to this element (the default value is 2rem)
      }

      // ... followed by empty TagGroup
      + div.tag-group:empty {
        // ... followed by paragraph or any text content
        + :is(p, pre, .custom-container) {
          margin-top: 2rem; // add margin to this element (the default value is 2rem)
        }
      }
    }
  }

  // first element of page that is a heading ...
  :is(h1, h2, h3, h4, h5, h6):first-child {
    // ... followed by empty TagGroup
    + div.tag-group:empty {
      // ... followed by paragraph or any text content
      + :is(p, pre, .custom-container) {
        margin-top: 2rem; // add margin to this element (the default value is 2rem)
      }
    }
  }
}

// Do not change the code snippet block
[class*="language-"] code {
  color: #fff !important; // Default value #fff
  background-color: transparent !important; // Default value `transparent`
}

html {
  .custom-container {
    &.warning {
      code {
        color: var(--c-warning-text-lighter);
        background-color: var(--c-warning-bg-lighter);
      }

      blockquote {
        color: var(--c-warning-text-quote);
        border-left-color: var(--c-warning-border-dark);
      }
    }

    &.danger {
      code {
        color: var(--c-danger-text-lighter);
        background-color: var(--c-danger-bg-lighter);
      }

      blockquote {
        color: var(--c-danger-text-quote);
        border-left-color: var(--c-danger-border-dark);
      }
    }
  }
}
