// oklch theme
:root {
  --c-brand-light: #27b5e6;
  --c-tip: #16afe0;
  --c-brand: #009dca;
}

// adjust table background colors to avoid clashes with inline code snippets
html {
  tr:nth-child(2n) {
    code {
      background-color: var(--c-bg-lighter);
    }
  }

  // for dark mode
  &.dark {
    --c-brand-light: #138cb3;
    --c-tip: #1583a7;
    --c-brand: #009dca;

    tr:nth-child(2n) {
      background-color: var(--c-bg-lighter);
    }
  }
}

.token:is(.string, .char, .attr-value, .regex, .variable) {
  color: #6ac0e3;
}

// fix the text color animation for the secondary button on the main page
.home .hero .action-button.secondary {
  transition-property: background-color, color;
}

// apply justify to all articles
.theme-default-content :is(p, li) {
  text-align: justify;
  text-justify: auto;
  hyphens: auto;
}

// neither hyphenate inline code snippets nor links, we are injeting <wbr> tags there
code,
a {
  hyphens: none;
}

/** 
* Re-implement default margin for first heading of a page.
* The default rule is "h1:first-child", which means it does not work 
* if there is another element like <img> before them.
*   
* For instance the rule is not implemented correctly on
* https://grammy.dev/guide/ due to image banner at the top of page.
*/

// main page
.theme-default-content {
  // first element of page which is not a heading ...
  :not(h1, h2, h3, h4, h5, h6):first-child {
    // ... followed by heading
    + :is(h1, h2, h3, h4, h5, h6) {
      margin-bottom: 1rem; // add bottom margin to this heading (the default value is 1rem)

      // ... followed by paragraph or any text content
      + :is(p, pre, .custom-container) {
        margin-top: 2rem; // add margin to this element (the default value is 2rem)
      }

      // ... followed by empty TagGroup
      + div.tag-group:empty {
        // ... followed by paragraph or any text content
        + :is(p, pre, .custom-container) {
          margin-top: 2rem; // add margin to this element (the default value is 2rem)
        }
      }
    }
  }

  // first element of page that is a heading ...
  :is(h1, h2, h3, h4, h5, h6):first-child {
    // ... followed by empty TagGroup
    + div.tag-group:empty {
      // ... followed by paragraph or any text content
      + :is(p, pre, .custom-container) {
        margin-top: 2rem; // add margin to this element (the default value is 2rem)
      }
    }
  }
}
