// oklch theme
:root {
  --c-brand-light: #27b5e6;
  --c-tip: #16afe0;
  --c-brand: #009dca;
  --c-warning: #ffc310;
  --c-warning-bg-lighter: #fff3ba;
  --c-warning-title: #f1b300;
  --c-warning-text-lighter: #c1971c;
  --c-warning-text-accent: #edb100;
  --c-warning-text-quote: #ccab49;
  --c-warning-border-dark: #f7dc91;
  --c-danger: #f11e37;
  --c-danger-bg-lighter: #ffcfde;
  --c-danger-title: #ed1e2c;
  --c-danger-text-lighter: #b5474d;
  --c-danger-text-accent: #bd1a1a;
  --c-danger-text-quote: #c15b5b;
  --c-danger-border-dark: #f1abab;
}

html.dark {
  --c-brand-light: #138cb3;
  --c-tip: #1583a7;
  --c-brand: #009dca;
  --c-bg-lighter-2: #38404a;
  --c-warning: #e0ad15;
  --c-warning-bg: #2d2f2d;
  --c-warning-bg-lighter: #423E2A;
  --c-warning-title: #fdca31;
  --c-warning-text: #d8d96d;
  --c-warning-text-lighter: #ddb84b;
  --c-warning-text-accent: #ffbf00;
  --c-warning-text-quote: #ccab49;
  --c-warning-border-dark: #957c35;
  --c-danger: #fc1e38;
  --c-danger-bg: #39232c;
  --c-danger-bg-lighter: #4b2b35;
  --c-danger-title: #fc2d3b;
  --c-danger-text: #ea9ca0;
  --c-danger-text-lighter: #d9777c;
  --c-danger-text-accent: #fd3636;
  --c-danger-text-quote: #d56b6b;
  --c-danger-border-dark: #a25151;
}

// adjust inline code snippets colors to avoid clashes with table and container background
:is(tr:nth-child(2n), .custom-container.tip) code {
  background-color: var(--c-bg-lighter);
}

html.dark :is(tr:nth-child(2n), .custom-container.tip) code{
  background-color: var(--c-bg-lighter-2);
}

.token:is(.string, .char, .attr-value, .regex, .variable) {
  color: #6ac0e3;
}

// fix the text color animation for the secondary button on the main page
.home .hero .action-button.secondary {
  transition-property: background-color, color;
}

// apply justify to all articles
.theme-default-content:is(p, li) {
  text-align: justify;
  text-justify: inter-character;
  hyphens: auto;
}

// neither hyphenate inline code snippets nor links, we are injeting <wbr> tags there
code, a {
  hyphens: none;
}

// Do not change the code snippet block
[class*="language-"] code {
  color: #fff !important; // Default value #fff
  background-color: transparent !important; // Default value `transparent`
}

// custom container for light theme
.custom-container.warning code {
  color: var(--c-warning-text-lighter);
  background-color: var(--c-warning-bg-lighter);
}

.custom-container.warning blockquote {
  color: var(--c-warning-text-quote);
  border-left-color: var(--c-warning-border-dark);
}

.custom-container.danger code {
  color: var(--c-danger-text-lighter);
  background-color: var(--c-danger-bg-lighter);
}

.custom-container.danger blockquote {
  color: var(--c-danger-text-quote);
  border-left-color: var(--c-danger-border-dark);
}

// custom container for dark theme
html.dark .custom-container.warning code {
  color: var(--c-warning-text-lighter);
  background-color: var(--c-warning-bg-lighter);
}

html.dark .custom-container.warning blockquote {
  color: var(--c-warning-text-quote);
  border-left-color: var(--c-warning-border-dark);
}

html.dark .custom-container.danger code {
  color: var(--c-danger-text-lighter);
  background-color: var(--c-danger-bg-lighter);
}

html.dark .custom-container.danger blockquote {
  color: var(--c-danger-text-quote);
  border-left-color: var(--c-danger-border-dark);
}
