# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
yarn.lock
pnpm-lock.yaml

# Caches
.temp
.cache
cache/
.link-checker

# dist directory
dist/

# generated API reference files
docs/ref/
!docs/ref/README.md
