/**
 * code block inside custom block
 * ------------------------------------------------------------------------- */

.vp-doc .custom-block div[class*="language-"] {
  margin: 16px 0;
}

/**
* <code> inside custom block
* -------------------------------------------------------------------------- */

:root {
  .tip.custom-block code {
    color: #009ecabd;
  }
  .warning.custom-block code {
    color: #d97706b7;
  }
  .danger.custom-block code {
    color: #fa5f79e2;
  }
  .details.custom-block code {
    color: #8c8ba4;
  }

  &.dark {
    .tip.custom-block code {
      color: #8ae2ff9c;
    }
    .warning.custom-block code {
      color: #e7b624;
    }
  }
}

/**
* blockquote inside custom block
* -------------------------------------------------------------------------- */

:root {
  .tip.custom-block blockquote {
    --vp-c-divider: #167ea746;

    p {
      color: #167ea7a6;

      code {
        color: #577e8e;
      }
    }

    .dark & {
      --vp-c-divider: #517480;

      p {
        color: #517480;

        code {
          color: #577e8e;
        }
      }
    }
  }
}

:root {
  .warning.custom-block blockquote {
    --vp-c-divider: #fad8b0;

    p {
      color: #e6a04f;

      code {
        color: #ae9c4a;
      }
    }

    .dark & {
      --vp-c-divider: #a78e44;

      p {
        color: #9e8a4c;

        code {
          color: #ae9c4a;
          background-color: #2a2923;
        }
      }
    }
  }
}

:root {
  .danger.custom-block blockquote {
    --vp-c-divider: #f2c9cc;

    p {
      color: #e48696;

      code {
        color: #e18389;
      }
    }

    .dark & {
      --vp-c-divider: #aa5056;

      p {
        color: #a04c52;

        code {
          color: #ad4c53;
          background-color: #2e1e22;
        }
      }
    }
  }
}

:root {
  .details.custom-block blockquote {
    p {
      color: rgba(60, 60, 67, 0.6);
    }

    .dark & {
      --vp-c-divider: #575665;

      p {
        color: rgba(235, 235, 245, 0.5);
      }
    }
  }
}

/**
 * Custom-block layout
 * -------------------------------------------------------------------------- */

.vp-doc div[class*="language-"] {
  border-radius: 8px;
  margin: 16px 0;
}

.vp-code-group .tabs {
  margin-left: 0;
  margin-right: 0;
  border-radius: 8px 8px 0 0;
}
