/**
 * code block
 * ------------------------------------------------------------------------- */
:root {
  .warning.custom-block {
    color: #ff8c1b;
    border-color: #ff8c1b;
    .custom-block-title {
      color: #ff8c1b;
    }
  }

  &.dark {
    .tip.custom-block {
      color: #53c4ea;
      border-color: #2db7e5;
      background-color: #182128;
    }

    .warning.custom-block {
      .custom-block-title {
        color: #fdba29;
      }
      color: #fdba29;
      border-color: #fcad03;
      background-color: #1e1e1e;
    }

    .danger.custom-block {
      .custom-block-title {
        color: #f2183c;
      }
      color: #f33958;
      border-color: #f2183c;
      background-color: #1f181d;
    }
  }
}

/**
 * code block inside custom block
 * ------------------------------------------------------------------------- */

.vp-doc .custom-block div[class*="language-"] {
  margin: 16px 0;
}

/**
* <code> inside custom block
* -------------------------------------------------------------------------- */

:root {
  .tip.custom-block code {
    color: #577e8e;
  }
  .warning.custom-block code {
    color: #e29945;
  }
  .danger.custom-block code {
    color: #f96e86;
  }
  .details.custom-block code {
    color: #8c8ba4;
  }

  &.dark {
    .tip.custom-block code {
      color: #5d9ab2;
    }
    .warning.custom-block code {
      color: #b89c47;
    }
  }
}

/**
* blockquote inside custom block
* -------------------------------------------------------------------------- */

.tip.custom-block blockquote {
  --vp-c-divider: #bad7e3;

  p {
    color: #65a9c4;

    code {
      color: #577e8e;
    }
  }

  :root.dark & {
    --vp-c-divider: #517480;

    p {
      color: #6598a8;
    }
  }
}

.warning.custom-block blockquote {
  --vp-c-divider: #fad8b0;

  p {
    color: #e6a04f;

    code {
      color: #ae9c4a;
    }
  }

  :root.dark & {
    --vp-c-divider: #806f3e;

    p {
      color: #b59c50;

      code {
        color: #ae9c4a;
        background-color: #2a2923;
      }
    }
  }
}

.danger.custom-block blockquote {
  --vp-c-divider: #f2c9cc;

  p {
    color: #e48696;

    code {
      color: #e18389;
    }
  }

  :root.dark & {
    --vp-c-divider: #aa5056;

    p {
      color: #b55f65;

      code {
        color: #dc6d74;
        background-color: #2e1e22;
      }
    }
  }
}

.details.custom-block blockquote {
  p {
    color: #8c8ba4;
  }

  :root.dark & {
    --vp-c-divider: #575665;

    p {
      color: #8c8ba4;
    }
  }
}

/**
 * Custom-block layout
 * -------------------------------------------------------------------------- */

.vp-doc div[class*="language-"] {
  border-radius: 8px;
  margin: 16px 0;
}

.vp-code-group .tabs {
  margin-left: 0;
  margin-right: 0;
  border-radius: 8px 8px 0 0;
}
