name: Check

on:
  push:
    branches: [main]
  pull_request:
    types: ["opened", "edited", "synchronize"]

jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: denoland/setup-deno@main
        with:
          deno-version: v1.x

      - name: Check Formatting
        run: deno fmt --check

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v3

      - uses: denoland/setup-deno@main
        with:
          node-version: 'latest'

      - name: Check Linting
        working-directory: ./site
        run: npm run docs:lint

  links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: denoland/setup-deno@main
        with:
          deno-version: v1.x

      - name: Check Links
        if: github.ref == 'refs/heads/main'
        run: |
          deno task check-links
