name: Check

on:
  push:
    branches: [main]
  pull_request:
    types: ["opened", "edited", "synchronize"]

jobs:
  fmt-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: denoland/setup-deno@main
        with:
          deno-version: "2.3.7"

      - name: Check Formatting
        run: deno fmt --check
        working-directory: site/

      - name: Check Linting
        working-directory: site/
        run: deno task lint

  links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: denoland/setup-deno@main
        with:
          deno-version: "2.3.7"

      - name: Check Links
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: deno task genapi && deno task links:check
        working-directory: site/
