name: Check

on:
  push:
    branches: [main]
  pull_request:
    types: ["opened", "edited", "synchronize"]

jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: denoland/setup-deno@main
        with:
          deno-version: v1.x

      - name: Check Formatting
        run: deno fmt --check

  links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: denoland/setup-deno@main
        with:
          deno-version: v1.x

      - name: Check Links
        if: github.ref == 'refs/heads/main'
        run: |
          deno task linkcheck
